/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities  {
  @font-face {
    font-family: Gothic;
    src: url('./assets/gothic.ttf')
  }

  html, body {
    @apply bg-gray-900 text-white;
    @apply w-full h-full;
    @apply overflow-hidden;
  }

  * {
    outline: none;
  }

  .link {
    @apply p-2 flex-grow rounded;
    @apply bg-gray-800;
    @apply font-semibold;
    @apply transition-all;
  }

  .router-link-active {
    @apply bg-red-primary;
  }

  .button {
    @apply bg-gray-800 hover:bg-red-primary;
    @apply transition-all;
    @apply p-2;
    @apply rounded;
    @apply font-semibold;
  }

  .checkbox {
    @apply appearance-none transition-all;
    @apply w-5 h-5 bg-white rounded;
    @apply checked:bg-red-primary;
    background-Image: url('./assets/check.svg');
  }

  .thumbnail {
    width: 1280px;
    height: 720px;
    font-family: Gothic;
    @apply flex flex-col items-center px-10;
    @apply text-black bg-white relative;
  }

  .cover {
    width: 93.5%;
    height: 340px;
    border-radius: 16px;
    @apply overflow-hidden text-white w-full;
  }

  .stat-wrapper {
    flex: 0 0 18%;
  }
}

