/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-active {
    @apply bg-red-primary !important;
  }

  html, body {
    @apply bg-gray-900 text-white;
    @apply w-full h-full;
    @apply overflow-hidden;
  }

  * {
    outline: none;
  }

  .link {
    @apply p-2 flex-grow rounded;
    @apply bg-gray-800;
    @apply font-semibold;
    @apply transition-all;
  }

  .button {
    @apply bg-gray-800 hover:bg-red-primary;
    @apply transition-all;
    @apply p-2;
    @apply rounded;
    @apply font-semibold;
  }

  .checkbox {
    @apply appearance-none transition-all;
    @apply w-5 h-5 bg-white rounded;
    @apply checked:bg-red-primary;
    background-image: url('./assets/check.svg');
  }

  .thumbnail {
    width: 1280px;
    height: 720px;
    font-family: Gothic;
    @apply flex flex-col items-center px-10;
    @apply text-black bg-white relative overflow-hidden;
  }

  .mode {
    @apply w-32 h-32 absolute;
    @apply -left-6 -top-6;
  }

  .cover {
    width: 93.5%;
    height: 340px;
    border-radius: 16px;
    @apply overflow-hidden text-white w-full;
    @apply flex items-center leading-tight;
  }

  .stat-wrapper {
    flex: 0 0 18%;
  }

  .title {
    font-size: 60pt;
    @apply text-center;
  }
}

@layer utilities  {
  @font-face {
    font-family: Gothic;
    src: url('./assets/gothic.ttf')
  }
}
