/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities  {
  @font-face {
    font-family: Gothic;
    src: url('./assets/gothic.ttf')
  }

  html, body {
    @apply bg-gray-900 text-white;
    @apply w-full h-full p-2;
    @apply overflow-hidden;
  }

  * {
    outline: none;
  }

  .link {
    @apply p-2 flex-grow rounded;
    @apply bg-gray-800;
    @apply font-semibold;
    @apply transition-all;
  }

  .router-link-active {
    @apply bg-red-primary;
  }

  .button {
    @apply bg-gray-800 hover:bg-red-primary;
    @apply transition-all;
    @apply p-2;
    @apply rounded;
    @apply font-semibold;
  }

  .checkbox {
    @apply appearance-none transition-all;
    @apply w-5 h-5 bg-white rounded;
    @apply checked:bg-red-primary;
    background-Image: url('./assets/check.svg');
  }

  .thumbnail {
    min-width: 1366px;
    min-height: 768px;
    font-family: Gothic;
    @apply flex flex-col items-center justify-center;
    @apply text-black;
  }

  .stat {
    @apply text-3xl;
  }

  .stat-container {
    flex: 0 0 14%;
    text-align: left;
  }

  .value {
    @apply text-7xl;
  }

  .cover {
    width: 93.5%;
    height: 50%;
    border-radius: 16px;
    @apply overflow-hidden;
  }
}

